body {
    color: white;
}
.topBar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: top;
    list-style: none;
    text-decoration: none;
    z-index: 5;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#main {
    font-family: "Great Vibes", serif;
}
#noButton {
    background: none;
    border: none;
}
h1 {
    text-align: center;
    font-weight: bold;
}
.newsItemOne {
    text-align: left;
    width: 50%;
}
.newsItemTwo {
    position: absolute;
    right: 5px;
    text-align: right;
    width: 50%;
}
#g {
    margin-top: 20%;
}
#background{
    z-index: -13;
    position: absolute;
    width: 100%;
}
.topics {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-around;
}
li:hover {
    text-decoration: underline;
    transform: scale(1.5);
    transition: transform ease-in-out 1s;
}
.selected {
    text-decoration: underline blue;
}